body{
  box-sizing: border-box;
  background-color: #E9DB9E;
  font-family: 'Roboto Slab', serif;

}

/* HEADER */
#header-nav {
  background-color: #2FB3A6;
  border-radius: 0;
  border:0;
}

.navbar-brand{
  height: 70px;
  padding: 5px;
}

.navbar h1{
  margin-top: 10px;
  color: #E53C40;
}

.navbar-header .navbar-toggle {
  margin-top: 21px;
  border:2px solid #AAD5A7;
}

.navbar-header .navbar-toggle .icon-bar{
  background-color: #AAD5A7;
}

/* solucion obtenida de stackoverflow 
https://stackoverflow.com/questions/21334226/how-to-my-toggle-button-change-color-only-my-collapse-is-opened-in-my-bootstrap/21335405 */
.navbar-default button.navbar-toggle.collapsed:focus,
.navbar-default button.navbar-toggle.collapsed{ background-color: transparent;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}
.navbar-default button.navbar-toggle:focus,
.navbar-default button.navbar-toggle.collapsed:hover{ background-color:#ddd;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}

#collapsable-nav{
  padding-left: 0;
  padding-right: 0;

}
.navbar-nav{
  margin:0;
}
#nav-list li a {
  color: #F37C83;
  font-size: 120%;

}
#nav-list li:hover {
  background-color: #E9DB9E;

}

#nav-list .divider {
  border-bottom: 3px solid #2FB3A6;
}

#main-content .menu-title {
  font-size: 30px;
  color: #F37C83;
  margin-bottom: 40px;
}

.item-tile{
  background-color:#F37C83;
  margin-bottom: 30px;
}
.item-tile .item-name{
  font-size: 20px;
  padding-top: 10px;
}

.item-tile .item-description{
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: justify;
  position: relative;
  
}

.button-back{
  position: absolute;
  right: 0;
  bottom: 0;
  color:#E53C40;
  margin-bottom: 8px; 
  padding: 2px;
}

.button-back:hover{
  background-color: #2FB3A6;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /*** Menu Colapsable ***/


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /*** Menu Colapsable ***/
  #collapsable-nav {
  background-color: #AAD5A7;
  border: 2px solid #2FB3A6;
}
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /*** Menu Colapsable ***/
  #collapsable-nav {
  background-color: #AAD5A7;
  border: 2px solid #2FB3A6;
}
}



